.card{
    padding: 20px;
    margin: 10px;
    background-color: #d8e2dc;
    width: 200px;
    border-radius: 5px;
    height: 150px;
}
.link{
    color: #555;
    text-decoration: none;
}

.title{
    font-weight: 700;
}

.body{
    text-align: left;
}

.line{
    background-color: white;
    border: none;
    height: 2px;
}